Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a NoSQL database. It is a document-oriented database which is used to store data 
in a flexible manner in the form of JSON format.

Non-relational databases store data in a non-tabular form. They are more flexible as compared to
SQL based relational database structures.

MongoDB is preferred over SQL databases when our data is in large amount and more
complex. It is faster and more scaleable as compared to the SQL based databases.

Q2. State and Explain the features of MongoDB.

Features of MongoDB are:-

1) Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead
                        of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

2) Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from
                the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

3) Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different
                server so that if one server fails, then the data is retrieved from another server.

4) Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is
                partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will 
                also add new machines to a running database.

5) Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three
                different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

6) High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

url = "mongodb+srv://arpitdubey:pwskills@cluster0.quloo66.mongodb.net/"

client = MongoClient(url, server_api = ServerApi('1'))

try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
db = client["assignment"]

In [4]:
my_coll = db["assignment_collection"]

In [34]:
data = {
    "name" : "Arpit Dubey",
    "course" : "Data Science Masters",
    "age" : 18
}

In [35]:
my_coll.insert_one(data)

In [6]:
my_coll.find_one()

{'_id': ObjectId('64dc78ef4641203ac7618c3b'),
 'name': 'Arpit Dubey',
 'course': 'Data Science Masters',
 'age': 18}

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [5]:
data1 = {
    "name" : "Arpit Dubey",
    "email" : "arpit@gmail.com",
    "phone_no" : 9853423410
}

In [7]:
my_coll.insert_one(data1)

In [10]:
my_coll.find_one({"email" : "arpit@gmail.com"})

{'_id': ObjectId('64dc9b06054bec24637b34c2'),
 'name': 'Arpit Dubey',
 'email': 'arpit@gmail.com',
 'phone_no': 9853423410}

In [12]:
data2 = [
    {"_id" : 1,"email": "Autumn Yates","name": "985-3105 Morbi Rd.","company": "Ut Institute"},
	{"_id" : 2,"email": "Cole Ashley","name": "Ap #653-5243 Cursus, St.","company": "Mollis Nec Cursus Associates"},
	{"_id" : 3,"email": "Miranda Patterson","name": "P.O. Box 880, 9948 Arcu. Ave","company": "Vel Quam Dignissim Company"},
	{"_id" : 4,"email": "George Williamson","name": "9171 Imperdiet Ave","company": "Rutrum Foundation"},
	{"_id" : 5,"email": "Angelica Boyle","name": "217-5453 Ut, Road","company": "Consectetuer Adipiscing Institute"}
]

In [13]:
my_coll.insert_many(data2)

In [14]:
for i in my_coll.find():
    print(i)

{'_id': ObjectId('64dc78ef4641203ac7618c3b'), 'name': 'Arpit Dubey', 'course': 'Data Science Masters', 'age': 18}
{'_id': ObjectId('64dc9b06054bec24637b34c2'), 'name': 'Arpit Dubey', 'email': 'arpit@gmail.com', 'phone_no': 9853423410}
{'_id': 1, 'email': 'Autumn Yates', 'name': '985-3105 Morbi Rd.', 'company': 'Ut Institute'}
{'_id': 2, 'email': 'Cole Ashley', 'name': 'Ap #653-5243 Cursus, St.', 'company': 'Mollis Nec Cursus Associates'}
{'_id': 3, 'email': 'Miranda Patterson', 'name': 'P.O. Box 880, 9948 Arcu. Ave', 'company': 'Vel Quam Dignissim Company'}
{'_id': 4, 'email': 'George Williamson', 'name': '9171 Imperdiet Ave', 'company': 'Rutrum Foundation'}
{'_id': 5, 'email': 'Angelica Boyle', 'name': '217-5453 Ut, Road', 'company': 'Consectetuer Adipiscing Institute'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [15]:
# find() method can be used with the collection object to find the data from the database in MongoDB.

#Demo

for i in my_coll.find():
    print(i)

{'_id': ObjectId('64dc78ef4641203ac7618c3b'), 'name': 'Arpit Dubey', 'course': 'Data Science Masters', 'age': 18}
{'_id': ObjectId('64dc9b06054bec24637b34c2'), 'name': 'Arpit Dubey', 'email': 'arpit@gmail.com', 'phone_no': 9853423410}
{'_id': 1, 'email': 'Autumn Yates', 'name': '985-3105 Morbi Rd.', 'company': 'Ut Institute'}
{'_id': 2, 'email': 'Cole Ashley', 'name': 'Ap #653-5243 Cursus, St.', 'company': 'Mollis Nec Cursus Associates'}
{'_id': 3, 'email': 'Miranda Patterson', 'name': 'P.O. Box 880, 9948 Arcu. Ave', 'company': 'Vel Quam Dignissim Company'}
{'_id': 4, 'email': 'George Williamson', 'name': '9171 Imperdiet Ave', 'company': 'Rutrum Foundation'}
{'_id': 5, 'email': 'Angelica Boyle', 'name': '217-5453 Ut, Road', 'company': 'Consectetuer Adipiscing Institute'}

In [18]:
for i in my_coll.find({"_id" : {"$gte" : 2}}):
    print(i)

{'_id': 2, 'email': 'Cole Ashley', 'name': 'Ap #653-5243 Cursus, St.', 'company': 'Mollis Nec Cursus Associates'}
{'_id': 3, 'email': 'Miranda Patterson', 'name': 'P.O. Box 880, 9948 Arcu. Ave', 'company': 'Vel Quam Dignissim Company'}
{'_id': 4, 'email': 'George Williamson', 'name': '9171 Imperdiet Ave', 'company': 'Rutrum Foundation'}
{'_id': 5, 'email': 'Angelica Boyle', 'name': '217-5453 Ut, Road', 'company': 'Consectetuer Adipiscing Institute'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [30]:
# sort() method gives the output in a sorted manner

for i in my_coll.find({"_id" : {"$gte" : 2}}).sort([("_id", -1)]):
    print(i)

{'_id': 5, 'email': 'Angelica Boyle', 'name': '217-5453 Ut, Road', 'company': 'Consectetuer Adipiscing Institute'}
{'_id': 4, 'email': 'George Williamson', 'name': '9171 Imperdiet Ave', 'company': 'Rutrum Foundation'}
{'_id': 3, 'email': 'Miranda Patterson', 'name': 'P.O. Box 880, 9948 Arcu. Ave', 'company': 'Vel Quam Dignissim Company'}
{'_id': 2, 'email': 'Cole Ashley', 'name': 'Ap #653-5243 Cursus, St.', 'company': 'Mollis Nec Cursus Associates'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one() -> It is used to deletes the first occurence of data based on the provided condition
delete_many() -> It deletes all the rows matching the provided filter
drop() -> It is used to drop/delete whole collection

In [9]:
my_coll.delete_one({"_id" : 5})

In [10]:
for i in my_coll.find():
    print(i)

{'_id': ObjectId('64dc78ef4641203ac7618c3b'), 'name': 'Arpit Dubey', 'course': 'Data Science Masters', 'age': 18}
{'_id': ObjectId('64dc9b06054bec24637b34c2'), 'name': 'Arpit Dubey', 'email': 'arpit@gmail.com', 'phone_no': 9853423410}
{'_id': 1, 'email': 'Autumn Yates', 'name': '985-3105 Morbi Rd.', 'company': 'Ut Institute'}
{'_id': 2, 'email': 'Cole Ashley', 'name': 'Ap #653-5243 Cursus, St.', 'company': 'Mollis Nec Cursus Associates'}
{'_id': 3, 'email': 'Miranda Patterson', 'name': 'P.O. Box 880, 9948 Arcu. Ave', 'company': 'Vel Quam Dignissim Company'}
{'_id': 4, 'email': 'George Williamson', 'name': '9171 Imperdiet Ave', 'company': 'Rutrum Foundation'}
{'_id': ObjectId('64dcac49054bec24637b34c4'), 'name': 'Arpit Dubey', 'course': 'Data Science Masters', 'age': 18}

In [11]:
my_coll.delete_many({"name" : "Arpit Dubey"})

In [12]:
for i in my_coll.find():
    print(i)

{'_id': 1, 'email': 'Autumn Yates', 'name': '985-3105 Morbi Rd.', 'company': 'Ut Institute'}
{'_id': 2, 'email': 'Cole Ashley', 'name': 'Ap #653-5243 Cursus, St.', 'company': 'Mollis Nec Cursus Associates'}
{'_id': 3, 'email': 'Miranda Patterson', 'name': 'P.O. Box 880, 9948 Arcu. Ave', 'company': 'Vel Quam Dignissim Company'}
{'_id': 4, 'email': 'George Williamson', 'name': '9171 Imperdiet Ave', 'company': 'Rutrum Foundation'}

In [13]:
my_coll.drop()

In [16]:
print(db.list_collection_names())

[]

In [17]:
db.client.close()