Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data in an organized manner.

SQL (Structured Query Language) Database - It is a database that stores data in a structured way in the form of collection of rows and columns known as tables. CRUD operations
                                            are carried out through different queries. For example, MySQL, PostgreSQL, Oracle. etc.

NoSQL (Not only Structured Query Language) Database - It is a database that stores the data in a flexible manner. For example, MongoDB, Cassandra, GraphQL, etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It refers to designing the structure of a database. In MySQL, thier are four types of DDl commands:-
1) CREATE - It is used to create a new database which does not exists.
2) DROP - It is used to drop (delete) a database.
3) ALTER - It is used to alter/change the properties of a table.
4) TRUNCATE - It deletes all the records from a table, but not the whole table.

CREATE DATABASE if not exists <database_name>;

DROP DATABASE <database_name>;

ALTER TABLE <table_name>
ADD <column_name> <datatype>;

ALTER TABLE <table_name>
DROP COLUMN <column_name>;

ALTER TABLE <table_name>
RENAME COLUMN <old_name> to <new_name>;

ALTER TABLE <table_name>
MODIFY COLUMN <column_name> <datatype>;

TRUNCATE TABLE <table_name>;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML or Data Manipulation Language is a language which is used to manipulate data in a database.

1) INSERT - It is used to insert the data in a table.
2) UPDATE - It is used to modify existing data in a table.
3) DELETE - It is used to delete the data from a table.

INSERT INTO <table_name> (column1,column2,column3,.....)

UPDATE <table_name>
SET <column1> = <value1>, <column2> = <value2>, ...
WHERE condition;

DELETE FROM <table_name> WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL or Data Query Language helps us to get the data from a database and organise it.

SELECT - It is used to retrieve the informatio form a table.

SELECT <column1>,<column2>,... FROM <table_name>

SELECT * FROM <table_name>

Q5. Explain Primary Key and Foreign Key.

Primary Key - Primary key refers to a column in a table which has unique values. Null values are not allowed in primary key column. Only one primary key os allowed in a table.

Foreign Key - Foreign key refers to a column in a table which is a primart key column of another table. It may contain null values. It may consist of one or more columns. More than
                one foreign keys are allowed in a table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
        host = "localhost",
        user = "<mysql_username>",
        password = "<mysql_password>"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS test_database")
mydb.close()

cursor() method is used to create a cursor for our database which helps us to execute SQL queries through python.
execute() method is used with the cursor created using cursor() method. Through this method, we can execute MySQL queries through python.

Q7. Give the order of execution of SQL clauses in an SQL query.

1) FROM and JOIN
2) WHERE
3) GROUP BY
4) HAVING
5) SELECT
6) DISTINCT
7) ORDER BY
8) LIMIT/OFFSET